<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <h4>Reactive approach</h4>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div formGroupName='userData'>
          <div class="form-group">
            <label for="username">Username</label>
            <input 
              id="username" 
              type="text"
              formControlName="usernameC"
              class="form-control">
            <span
              *ngIf="!signupForm.get('userData.usernameC').valid && signupForm.get('userData.usernameC').touched"
              class="help-block">
              <span *ngIf="signupForm.get('userData.usernameC').errors['nameIsForbidden']">This usernae is invalid!</span>
              <span *ngIf="signupForm.get('userData.usernameC').errors['required']">This field is required!</span>
            </span>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input 
              id="username" 
              type="text"
              formControlName="emailC"
              class="form-control">
            <span
              *ngIf="!signupForm.get('userData.emailC').valid && signupForm.get('userData.emailC').touched"
              class="help-block">
              <span *ngIf="signupForm.get('userData.emailC').errors['emailIsForbidden']">This email is invalid!</span>
              <span *ngIf="signupForm.get('userData.emailC').errors['email']">Not valid email format!</span>
            </span>
          </div>
        </div>
        <div class="form-group" *ngFor="let gender of genders">
          <label for="radio">
            <input
              type="radio"
              formControlName="genderC"
              [value]="gender">{{ gender }}
          </label>
        </div>
        <div formArrayName="hobbies">
          <h4>Your hobbies</h4>
          <button class="btn btn-primary" type="button" (click)="onAddHobby()">Add hobby</button>
          <div class="form-group"
            *ngFor="let hobbyControl of signupForm.get('hobbies').controls; let i=index">
            <input type="text" class="form-control" [formControlName]="i">
          </div>
        </div>
        <span
            *ngIf="!signupForm.valid && signupForm.touched"
            class="help-block">Please enter a valid data!</span>
        <hr>
        <button class="btn btn-primary" type="submit">Submit</button>
        <button 
          class="btn btn-default" 
          type="button"
          routerLink="/td">
          Template-Driven
        </button>
      </form>
    </div>
  </div>
</div>
